@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";

}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    cursor: url("/img/pngwing.com\ \(1\).png"), auto;
    background-color: #416D19;
}



h1 {
  color: #FFF67E;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.308)
}

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/BACKGROUDNMARDUD.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 50px;
}

.hero-image {
  width: 500px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 5%;
  border-radius: 20px ;
  filter: grayscale(100%);
  transition: 1.5s;
}

.hero-image:hover{
  filter: grayscale(0%);
  -webkit-box-shadow:0px 0px 111px 57px rgba(160,235,40,0.9);
-moz-box-shadow: 0px 0px 111px 57px rgba(160,235,40,0.9);
box-shadow: 0px 0px 111px 57px rgba(160,235,40,0.9);
}

.hero-content h1,h3, p{
  text-align: center;
  color: #FFF67E;
  margin-left: 10%;
  margin-right: 10%;
}

.hero-content h1{
  margin-top: 25%;
}



.ndasmu {
  margin-right: 50%;
  margin-left: 25%;
  margin-top: 12%;
  border-radius: 100px;
  transition: 1.5s;
}

.ndasmu:hover {
  transform: scale(1.5);
}

.about {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.ph {
  margin-top: 7%;
  text-align: center;
}

.produk {
  display: flex;
}



.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;

}

footer {
    width: 100%;
    height: 80px;
    background: transparent;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.308) ;
}

/* Tampilan hp */
@media screen and (max-width: 768px) {
  .galiat {
    text-align: center;
  }

  .header {display: none;}
  .hero-section {display: none;}
  .about {display: none;}
  .produk {display: none;}
  .footer {display: none;}
  

}

/* Tampilan desktop */
@media screen and (min-width: 769px) {
    .galiat {
    display: none;
    }

    .menu-toggle {
        display: none; /* Sembunyikan tombol menu-toggle di desktop */
    }

    .footer {
      background-image: linear-gradient(#416D19, #000000);
      padding: 70px 0;
      position: relative;
      bottom: 0;
      width: 100%;
  }
  
  .footer-col {
      width: 25%;
      padding: 0 15px;
  }
  
  .footer-col h4 {
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  
  
  .footer-col h4::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  
  .footer-col ul li:not(:last-child) {
      margin-bottom: 10px;
  }
  
  .footer-col ul li a {
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #ffffff;
      display: block;
      transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
      color: #020202;
      padding-left: 8px;
  }
  
  .footer-col .social-links a {
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255, 255, 255, 0.2);
      margin: 0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
      color: #24262b;
      background-color: #ffffff;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
  }

  ul {
    list-style: none;
  }
}

